
/*#region ESTILOS DE COLORES:*/

/*
azul : #3F3FF7 -  Hover: #3333FF
aliceblue(fondo de gráficos) aliceblue, lightgray(border)
verde : #99CC99 -  Hover: #98d973
amarillo : #F7C03F -  Hover: #FFCC33
morado : #AB19AB -  Hover: #990099
*/
/*#endregion FIN ESTILOS DE COLORES PARA BOTONES*/

/*#region Elementos Generales*/

*{
    margin: 0;
    padding:0;
    /* font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Nixie One', cursive;
}

body {
    background-color:#383365;
}

header {
    color: #49AB80;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: larger;
}

footer {
    background-color: #186049;
    color: #F8F6F5;
    padding: 25px;
    text-align: center;
    margin-top: 25px;
    box-sizing: border-box;
    /*Lo posicionamos siempre pegado al fondo:*/
   /*  bottom: 0;
    position: fixed; */
    position: relative;
    bottom: 0;
    width: 100%;
}

canvas{ /*Canvas se empleará como contenedor de los gráficos*/
    border: 1px solid lightgray;
    border-radius: 25px;
    background-color: aliceblue;
    margin: auto;
    box-sizing: border-box;
    margin-top: 25px;
}

/*#endregion Fin de Elementos Generales*/

/*#region Contenedores Principales*/
#main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    align-items: stretch; /* background-color: red; */
}

#menu{ /* contenedor section con las opociones del menu */
    background-color: #3F3F5C;
    width: 15%;
    height: auto;
    box-sizing: border-box;
}

#visualizador{ /* contenedor "section" con los distintos visores que se activan con Vue.js*/
    width: 85%;
    height: auto;
    box-sizing: border-box; 
}

/*#endregion Contenedores Principales*/

/*#region Contenedores especiales*/

/*Div que encierra a los botones de medición en las distintas subventanas*/
#opcionesDeAnalisis{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 85%;
}

/*Div que contiene los datos fdeportivos del usuario en la subventana de Perfil*/
#contenedorDatosDeportivos{
    border-left: 2px solid #49AB80;
}

/*#endregion Contenedores especiales*/

/*#region Titulos, párrafos y referencias*/

/* Titulos de toda la página */
.titulos,  .titulosMenu{
    margin-top: 15px;
    color: #F8F6F5;
    font-size: larger;
    text-align: center;
}

/*referencia de Freepik Storyset en el footer*/
#referenciaImagenes{
    color: #e1e1e1;
}

#indicadoresDePulso, #datosPerfil, #datosDeportivos, #datosNuevoAtleta{
    margin: auto;
    width: 100%;
    text-align: center;
    color: #F8F6F5;
    font-size: larger;
}

/*#endregion Titulos, párrafos y referencias*/

/*#region Subventanas y Submenus*/

/* Vue.js se encarga de aplicar el estilo activado o desactivado: */

.opcionesMenu{
    background-color: #186049;
    border: #3F3F5C solid;
    flex-flow: column nowrap;
    text-align: center;
    border-radius: 15px;
    padding: 10%;
    height: 10%;
}

.opcionesMenuDesactivadas{
    background-color: #9ba39f;
    border: #3F3F5C solid;
    flex-flow: column nowrap;
    text-align: center;
    border-radius: 15px;
    padding: 10%;
    height: 10%;
}

.opcionesMenu:hover{
    cursor: pointer;
}

.opcionesMenuDesactivadas:hover{
    background-color: #41B883;
    cursor: pointer;
    transition: 0.5s;
}

.visores{
    background-color: #34495E;
    flex-flow: column nowrap;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*#endregion Subventanas y Submenus*/

/*#region Estilos de tablas*/
/*TABLAS DE DATOS:*/

thead{
    background-color: #6AB29B;
}

tbody{
    height: 75px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F0F0F0;
}

thead, tbody{
    display: block; /*Para que se detecten los overflows scrolls en tbody*/
}

td, th{
    width: 150px;
    text-align: center;
}

.tabla{
    border-collapse: collapse;
    border: black;
    color: black;  
    margin: auto;
    font-size: 85%;
    width: 95%;
}

#contenedorTablaHistorialPulsoAtletas tbody, #contenedorTablaHistorialTemperaturaAtletas tbody, #contenedorTablaHistorialOxigenoAtletas tbody{
    height: 50px;
}

/*#endregion Fin Estilos de tablas*/

/*#region Scrolls*/

/*#region Edición de scrolls de tablas*/
tbody::-webkit-scrollbar { /* barra del scroll */
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;    /*Tamaño del scroll en horizontal */
    display: visible;  
    cursor: pointer;
}

tbody::-webkit-scrollbar-thumb { /* fondo del scroll */
    background: #41B883;
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover/encima */
tbody::-webkit-scrollbar-thumb:hover {
    background: #49AB80;
    transition: 0.5s;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active/clickeado */
tbody::-webkit-scrollbar-thumb:active {
    background-color: #49AB80;
}

tbody::-webkit-scrollbar-track { /* rastreador de la barra de scroll */
    background: #9ba39f;
    border-radius: 5px;
}

/*#endregion  Fin Edición de scrolls de tablas*/

/*#region  Edición de scroll-bars de visores */

.visores::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 10px;   /* Tamaño del scroll en horizontal */
    display: visible;  
    cursor: pointer;
}

.visores::-webkit-scrollbar-thumb {
    background: #41B883;
    border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover/encima */
.visores::-webkit-scrollbar-thumb:hover {
    background: #49AB80;
    transition:0.5s;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active/clickeado */
.visores::-webkit-scrollbar-thumb:active {
    background-color: #49AB80;
}

.visores::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 5px;
}

/*#endregion Fin Edición de scroll-bars de visores */

/*#endregion Scrolls*/

/*#region Estilos de Botones */
button{
    cursor: pointer;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 9px 18px;
    margin-bottom: 10px;
}

.contenedorBotonAccionador{
    text-align: center;
    margin-bottom: 5px;
}

/* dibuja y coloca "antes" el simbolo de play(triángulo acostado) */
#botonEjecucionPulso:before{ 
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #fff;
    display: inline-block;
    margin-right: 5px;
}

#botonGuardadoPulso{
    background-color: #70B090;
}

#botonGuardadoPulso:hover{
    background-color: #669999;
    transition: 0.5s;
}

#botonEjecucionPulso{
    background-color: #99CC99;
}

#botonEjecucionPulso:hover{
    background-color: #98d973;
    transition: 0.5s;
}

#botonVerHistorialPulso, #botonVerAtletas, #botonAgregarAtleta{
    background-color: #006666;
}

#botonVerHistorialPulso:hover ,#botonVerAtletas:hover, #botonAgregarAtleta:hover{
    background-color: #016161;
    transition: 0.5s;
}

#botonRegresarPulsoPrincipal, #botonRegresarPerfil{
    background-color: #70B090;
}

#botonRegresarPulsoPrincipal:hover, #botonRegresarPerfil:hover{
    background-color: #669999;
    transition: 0.5s;
}

/*#endregion Estilos de Botones */

/*#region Iconos*/
@font-face {
    font-family: 'icomoon';
    src:  url('../Íconos/fonts/icomoon.eot?qlkb9w');
    src:  url('../Íconos/fonts/icomoon.eot?qlkb9w#iefix') format('embedded-opentype'),
      url('../Íconos/fonts/icomoon.ttf?qlkb9w') format('truetype'),
      url('../Íconos/fonts/icomoon.woff?qlkb9w') format('woff'),
      url('../Íconos/fonts/icomoon.svg?qlkb9w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-eye:before {
    content: "\e9ce";
  }

  .icon-eye{
    color: #006666;
    cursor: pointer;
  }
/*#endregion fin iconos*/

/*#region Contenedores dinámicos de las subventanas*/

.contenedorDinamico{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 95%;
    margin: auto;
    padding: 0;
}

.primerSeparador, .segundoSeparador{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
    height: auto;
    padding: 0;
}

/*#endregion Contenedores dinámicos*/

/*#region Inputs(de tipo texto) para mostrar los datos*/

#indicadoresDePulso input{
    text-align: center;
    font-size: larger;
    color: #F8F6F5;
    border: none;
    border-bottom: 1px solid #49AB80;
    background-color: #34495E;
    width: 50px;
}

#datosPerfil input, #datosDeportivos input, #datosNuevoAtleta input{
    text-align: center;
    font-size: large;
    color: #F8F6F5;
    border: none;
    border-bottom: 1px solid #49AB80;
    background-color: #34495E;
    width: 160px;
}

#atletasNoAsignados{
    border: 2px solid #49AB80;
    border-radius: 5px;
    background-color: #34495E;
    color: #F8F6F5;
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
}

/*#endregion Inputs(de tipo texto) para mostrar los datos*/

/*#region Imágenes*/
#imagenPerfil{
    width: auto;
    height: 55%;
}

/*#endregion Imágenes*/

/*#region Estilos con Media querys para dispositivos/pantallas con demasiada altura*/
@media screen and  (min-height: 850px){

    #main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: stretch; /* background-color: red; */
    }

    #menu{ /* contenedor section con las opociones del menu */
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap; 
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .opcionesMenu{
        padding: 1%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .opcionesMenuDesactivadas{
        padding: 1%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .contenedorDinamico{
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: space-evenly;
    }

    .primerSeparador, .segundoSeparador{
        margin: auto;
        width: 100%;
        height: auto;
    }

    #opcionesDeAnalisis{
        width: 100%;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    #visualizador{ /* contenedor section con los distintos visores que se activan con Vue.js*/
        width: 100%;
        height: 1050px;
        box-sizing: border-box; /* background-color:purple; */
    }

    #contenedorDatosDeportivos{
        border-style: none;
        border-top: 2px solid #49AB80;
    }
}
/*#endregion Estilos con Media querys para dispositivos/pantallas con demasiada altura*/

/*#region Estilos con Media querys para dispositivos/pantallas con poco ancho*/
@media screen and  (max-width: 474px){
    .titulosMenu{
       font-size: 50%;
    }

   .titulos{
       font-size: 60%;
   }

   #main{
       display: flex;
       flex-flow: column nowrap;
       justify-content: space-around;
       width: 100%;
       height: auto;
       box-sizing: border-box;
       align-items: stretch; /* background-color: red; */
   }

   #menu{ /* contenedor section con las opociones del menu */
       display: flex;
       justify-content: space-around;
       flex-flow: row nowrap; 
       width: 100%;
       height: auto;
       box-sizing: border-box;
   }

   #visualizador{ /* contenedor section con los distintos visores que se activan con Vue.js*/
       width: 100%;
       height: 600px;
       box-sizing: border-box; /* background-color:purple; */
   }

   .opcionesMenu{
       padding: 1%;
       height: auto;
       width: 25%;
       box-sizing: border-box;
   }

   .opcionesMenuDesactivadas{
       padding: 1%;
       height: auto;
       width: 25%;
       box-sizing: border-box;
   }

   .contenedorDinamico{
       display: flex;
       flex-flow: column nowrap;
       height: 100%;
       justify-content: space-evenly;
   }

   .primerSeparador, .segundoSeparador{
       margin: auto;
       width: 100%;
       height: 50%;
   }

   #opcionesDeAnalisis{
       width: 100%;
       flex-flow: column nowrap;
       justify-content: space-between;
   }

   #indicadoresDePulso,   #indicadoresDePulso  input, #datosPerfil, #datosDeportivos, #datosPerfil input, #datosDeportivos input, #datosNuevoAtleta, #datosNuevoAtleta input, #atletasNoAsignados{
       font-size: smaller;
   }

   #imagenPerfil{
       width: 175px;
       height: 175px;
   }

   #contenedorDatosDeportivos{
       border-style: none;
       border-top: 2px solid #49AB80;
   }

}
/*#endregion Estilos con Media querys para dispositivos/pantallas con poco ancho*/

/*#region Estilos con Media querys para ancho min: 475px y max: 619px*/
/* Textos mas pequeñps */
@media screen and  (min-width: 475px) and  (max-width: 619px){
    /* Titulos de toda la página y menu */
    .titulos,  .titulosMenu{
        font-size: smaller;
    }

    .tabla{
        font-size: 80%;
    }

    #main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: stretch; 
    }

    #menu{ /* contenedor section con las opciones del menu */
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap; 
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    #visualizador{ /* contenedor section con los distintos visores que se activan con Vue.js*/
        width: 100%;
        height: 400px;
        box-sizing: border-box; /* background-color:purple; */
    }

    .opcionesMenu{
        padding: 2%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .opcionesMenuDesactivadas{
        padding: 2%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .contenedorDinamico{
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
    }

    .primerSeparador, .segundoSeparador{
        margin: auto;
        width: 90%;
        height: auto;
    }

    #opcionesDeAnalisis{
        width: 100%;
    }

    #indicadoresDePulso,   #indicadoresDePulso  input, #datosPerfil, #datosDeportivos, #datosPerfil input, #datosDeportivos input, #datosNuevoAtleta, #datosNuevoAtleta input, #atletasNoAsignados{
        font-size: small;
    }

    #imagenPerfil{
        width: 175px;
        height: 175px;
    }

    #contenedorDatosDeportivos{
        border-style: none;
        border-top: 2px solid #49AB80;
    }
    
}
/*#endregion Estilos con Media querys para para ancho min: 475px y max-width: 619px*/

/*#region Estilos con Media querys para ancho min: 620px y max: 860px*/

/* Titulo mas pequeños, cambios de orientación de flex del menu */
@media screen and (min-width: 620px) and  (max-width: 860px){
    /* Titulos de toda la página y menu*/
    .titulos,  .titulostitulosMenu{
        font-size: small;
    }

   .tabla{
       font-size: 80%;
   }
    
    #main{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: stretch; /* background-color: red; */
    }

    #menu{ /* contenedor section con las opociones del menu */
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap; 
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    #visualizador{ /* contenedor section con los distintos visores que se activan con Vue.js*/
        width: 100%;
        height: 750px;
        box-sizing: border-box; /* background-color:purple; */
    }

    .opcionesMenu{
        background-color: #186049;
        border: #3F3F5C solid;
        padding: 2%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .opcionesMenuDesactivadas{
        background-color: #9ba39f;
        border: #3F3F5C solid;
        padding: 2%;
        height: auto;
        width: 25%;
        box-sizing: border-box;
    }

    .contenedorDinamico{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: 100%;
    }

    .primerSeparador, .segundoSeparador{
        margin: auto;
        width: 90%;
        height: 45%;
    }

    #indicadoresDePulso,   #indicadoresDePulso  input, #datosPerfil, #datosDeportivos, #datosPerfil input, #datosDeportivos input, #datosNuevoAtleta, #datosNuevoAtleta input, #atletasNoAsignados{
        font-size: medium;
    }

    #contenedorDatosDeportivos{
        border-style: none;
        border-top: 2px solid #49AB80;
    }
    
}
/*#endregion Estilos con Media querys para ancho min: 620px y max: 860px*/

/*#region Estilos con Media Querys para pantalla estándar de ancho min:861px y max: 2500px */
/* Titulos y textos mas pequeños */
@media screen and (min-width: 861px) and (max-width: 2500px){
    /* Titulos de toda la página y menu */
    .titulos,  .titulosMenu{
        font-size: medium;
    }

    #opcionesDeAnalisis{
        width: 100%;
    }    
}
/*#endregion Estilos con Media Querys para pantalla estándar de ancho min:861px y max: 1240px */