<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- #region Referencias a Librerias, Frameworks y otros archivos -->
    <link rel="stylesheet" href="Estilos/estilos_tve.css">
    <!-- ícono para la pestaña de la página en navegador -->
    <link rel="shortcut icon" href="Íconos/IOT.ico"> 
    <!-- google font: Nixie One -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <!-- Llamada a framework Vue.js -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script> 
    <!-- Llamada a sweealert 2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.0/sweetalert2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.8.0/sweetalert2.min.js"></script>
    <!-- Llamada a Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Llamada a bundle -->
    <script type="text/javascript" src="JS/bundle.js" defer></script> 
    <!-- #endregion Referencias a Librerias, Frameworks y otros archivos -->
     <title>Glove Fit</title>
</head>
<body>
    <!-- #region covertor -->
        <section id="covertor"> 
            <div class="rellenoCovertor"></div>
        </section>
    <!-- #endregion covertor -->
    <!-- #region Opciones de encabezado -->
        <header id="encabezado">
            <h1 class="tituloPrincipal"> {{titulo}}</h1>
            <section id="barraInformativa">
                    <h2 class="lectorTiempo"> {{fecha}}</h2>
                    <h2 class="lectorTiempo"> {{hora}}</h2>
                    <span id="controladorSesion" class="icon-switch" alt="Cerrar sesión" title="Cerrar Sesión"></span>
            </section>
        </header>
    <!-- #endregion Opciones de ebncabezado -->
    <!-- #region DashBoard -->
    <section id="main">
        <!-- #region Menu de Opciones -->
        <section id="menu">
            <div v-on:click="activarVisorPerfil" v-bind:class="[estadoVisualizadores.estadoPerfil || estadoVisualizadores.estadoAtletas ? estiloActual.activo : estiloActual.inactivo]">
                <h2 class="titulosMenu">{{titulos.secccion_Perfil}} </h2>
            </div>
            <div v-on:click="activarVisorRitmoCardiaco" v-bind:class="[estadoVisualizadores.estadoRitmoCardiaco || estadoVisualizadores.estadoHistorialRitmoCardiaco ? estiloActual.activo : estiloActual.inactivo]">
                <h2 class="titulosMenu"> {{titulos.secccion_Ritmo_Cardiaco}} </h2>
            </div>
            <div v-on:click="activarVisorTemperatura" v-bind:class="[estadoVisualizadores.estadoTemperatura || estadoVisualizadores.estadoHistorialTemperatura ? estiloActual.activo : estiloActual.inactivo]">
                <h2 class="titulosMenu">{{titulos.secccion_Temperatura}} </h2>
            </div>
            <div v-on:click="activarVisorOxigeno" v-bind:class="[estadoVisualizadores.estadoOxigeno || estadoVisualizadores.estadoHistorialOxigeno ? estiloActual.activo : estiloActual.inactivo]">
                <h2 class="titulosMenu">{{titulos.seccion_Oxigeno}}</h2>
            </div>   
        </section> 
         <!-- #endregion Menu de Opciones -->
        <!-- #region Visores/Subventanas -->
        <section id="visualizador">
            <!-- #region Visor Perfil -->
            <div v-show= "estadoVisualizadores.estadoPerfil" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorDatosPersonales}}</h2>
                        <form id="datosPerfil">
                            <br>
                            <p>Id: <input v-bind:value="datosDePerfilEnSesion.id" type="text" readonly="readonly"></p>
                            <br>
                            <p>Nombres: <input v-bind:value="datosDePerfilEnSesion.nombres" type="text" readonly="readonly"></p>
                            <br>
                            <p>Apellidos: <input v-bind:value="datosDePerfilEnSesion.apellidos" type="text" readonly="readonly"></p>
                        </form>
                        <img id="imagenPerfil" src="./Imagenes/Perfil.gif" alt="Imagen de Freepik Storyset"  title="Imagen de Freepik Storyset">
                    </div>
                    <div class= "segundoSeparador" id="contenedorDatosDeportivos">
                        <br>
                        <h2 class="titulos">{{titulos.visorDatosDeportivos}}</h2>
                        <br>
                        <form id="datosDeportivos">
                            <p>Username: <input v-bind:value="datosDePerfilEnSesion.username" type="text" readonly="readonly"></p>
                            <br>
                            <p>Tipo: <input v-bind:value="datosDePerfilEnSesion.tipo" type="text" readonly="readonly"></p>
                            <br>
                            <p>Edad: <input v-bind:value="datosDePerfilEnSesion.edad" type="text" readonly="readonly"></p>
                            <br>
                            <p>Sexo: <input v-bind:value="datosDePerfilEnSesion.sexo" type="text" readonly="readonly"></p>
                            <br>
                            <p>Peso: <input v-bind:value="datosDePerfilEnSesion.peso" type="text" readonly="readonly">(Lbs)</p>
                            <br>
                            <p>Estatura: <input v-bind:value="datosDePerfilEnSesion.estatura" type="text" readonly="readonly">(cm)</p>
                        </form>
                        <br>
                        <div v-show= "datosDePerfilEnSesion.estadoTipo" class="contenedorBotonAccionador">
                            <button id="botonVerAtletas">Ver atletas</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Visor Perfil -->
            <!-- #region Visor Ritmo Cardiaco -->
            <div  v-show= "estadoVisualizadores.estadoRitmoCardiaco" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorCardiaco}}</h2>
                        <br>
                        <canvas id="visorGraficoRitmoCardiaco" width="90%" height="35%"></canvas>
                        <br>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.seccion_indicadoresPulso}}</h2>
                        <br>
                        <div class="indicadoresSalud">
                            <br>
                            <form id="indicadoresDePulso">      
                                <p>Mi ritmo actual: <input v-bind:value="indicadoresDeSaludVariables.pulsoActual" type="text" readonly="readonly">(Lpm)</p>
                                <br>
                                <p>Mi ritmo promedio: <input v-bind:value="indicadoresDeSaludVariables.pulsoPromedio" type="text" readonly="readonly">(Lpm)</p>
                            </form>
                        </div>
                        <br><br>
                        <div class="opcionesDeAnalisis">
                            <div class="contenedorBotonAccionador">
                                <button id="botonEjecucionPulso">Evaluar Ritmo C.</button>
                            </div>
                            <div class="contenedorBotonAccionador">
                                <button id="botonGuardadoPulso">Guardar Medición</button>
                            </div>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonVerHistorialPulso">Ver Historial Ritmo C.</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- #endregion Ritmo Cardiaco -->
            <!-- #region Visor Historial Cardiaco -->
            <div v-show= "estadoVisualizadores.estadoHistorialRitmoCardiaco" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorHistorialCardiaco}}</h2>
                        <br>
                        <canvas id="visorGraficoHistorialRitmoCardiaco" width="90%" height="35%"></canvas>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.medicionesHistoriales}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialCardiaco">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>Ritmo</th><th>Ritmo Promedio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistoriales.listaHistorialCardiaco">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.pulso}}</td>
                                        <td>{{elemento.pulsoPromedio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonRegresarPulsoPrincipal">Regresar a datos de Ritmo</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Visor Historial Cardiaco -->
            <!-- #region Visor Temperatura -->
            <div  v-show= "estadoVisualizadores.estadoTemperatura" class="visores" >
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorTemperatura}}</h2>
                        <br>
                        <canvas id="visorGraficoTemperatura" width="90%" height="35%"></canvas>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.seccion_indicadoresTemperatura}}</h2>
                        <br>
                        <div class="indicadoresSalud">
                            <br>
                            <form id="indicadoresDeTemperatura">      
                                <p>Temperatura actual: <input v-bind:value="indicadoresDeSaludVariables.temperaturaActual" type="text" readonly="readonly">°C</p>
                                <br>
                                <p>Temperatura maxima: <input v-bind:value="indicadoresDeSaludVariables.temperaturaMaxima" type="text" readonly="readonly">°C</p>
                                <br>
                                <p>Temperatura minima: <input v-bind:value="indicadoresDeSaludVariables.temperaturaMinima" type="text" readonly="readonly">°C</p>
                                <br>
                                <p>Temperatura promedio: <input v-bind:value="indicadoresDeSaludVariables.temperaturaPromedio" type="text" readonly="readonly">°C</p>
                            </form>
                        </div>
                        <br>
                        <br>
                        <div class="opcionesDeAnalisis">
                            <div class="contenedorBotonAccionador">
                                <button id="botonEjecucionTemperatura">Evaluar Temp.</button>
                            </div>
                            <div class="contenedorBotonAccionador">
                                <button id="botonGuardadoTemperatura">Guardar Medición</button>
                            </div>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonVerHistorialTemperatura">Ver Historial Temperatura</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- #endregion Visor Temperatura -->
            <!-- #region Visor Historial Temperatura -->
            <div v-show= "estadoVisualizadores.estadoHistorialTemperatura" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorHistorialTemperatura}}</h2>
                        <canvas id="visorGraficoHistorialTemperatura" width="90%" height="35%"></canvas>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.medicionesHistoriales}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialTemperatura">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>Temp.Max</th><th>Temp.Min</th><th>Temp.Prom</th><th>Temp.Act</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistoriales.listaHistorialTemperatura">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.tempMaxima}}</td>
                                        <td>{{elemento.tempMinima}}</td>
                                        <td>{{elemento.tempPromedio}}</td>
                                        <td>{{elemento.tempActual}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonRegresarTemperaturaPrincipal">Regresar a datos de Temperatura</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Visor Historial Temperatura -->
            <!-- #region Visor Oxigeno -->
            <div  v-show= "estadoVisualizadores.estadoOxigeno" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorOxigeno}}</h2>
                        <br>
                        <canvas id="visorGraficoOxigeno" width="90%" height="35%"></canvas>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.seccion_indicadoresOxigeno}}</h2>
                        <br>
                        <div class="indicadoresSalud">
                            <br>
                            <form id="indicadoresDeOxigeno">      
                                <p>Nivel de Oxigeno actual: <input v-bind:value="indicadoresDeSaludVariables.oxigenoActual" type="text" readonly="readonly">(O)</p>
                                <br>
                                <p>Nivel de Oxigeno promedio: <input v-bind:value="indicadoresDeSaludVariables.oxigenoPromedio" type="text" readonly="readonly">(O)</p>
                            </form>
                        </div>
                        <br>
                        <br>
                        <div class="opcionesDeAnalisis">
                            <div class="contenedorBotonAccionador">
                                <button id="botonEjecucionOxigeno">Evaluar Oxígeno</button>
                            </div>
                            <div class="contenedorBotonAccionador">
                                <button id="botonGuardadoOxigeno">Guardar Medición</button>
                            </div>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonVerHistorialOxigeno">Ver Historial de Oxigeno</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!-- #endregion Visor Oxigeno -->
            <!-- #region Visor Historial Oxigeno -->
            <div v-show= "estadoVisualizadores.estadoHistorialOxigeno" class="visores">            
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorHistorialOxigeno}}</h2>
                        <canvas id="visorGraficoHistorialOxigeno" width="90%" height="35%"></canvas>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.medicionesHistoriales}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialOxigeno">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>O.Prom</th><th>O.Act</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistoriales.listaHistorialOxigeno">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.oxigenoPromedio}}</td>
                                        <td>{{elemento.oxigenoActual}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonRegresarOxigenoPrincipal">Regresar a datos de Oxigeno</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Visor Historial Oxigeno -->
            <!-- #region Visor Atletas(De coach) -->
            <div v-show= "estadoVisualizadores.estadoAtletas" class="visores">
                <div class = "contenedorDinamico">
                    <div class= "primerSeparador">
                        <h2 class="titulos">{{titulos.visorAtletas}}</h2>
                        <br>
                        <div id="contenedorTablaAtletas">
                            <table id="tablaAtletas" class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Atleta</th><th>Edad</th><th>Sexo</th><th>Peso</th><th>Estatura</th><th>Historial</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoInformativoAtletas" >
                                    <tr v-for="elemento in controladoresDeHistorialesCoach.listaAtletas">
                                        <td>{{elemento.username}}</td>
                                        <td>{{elemento.edad}}</td>
                                        <td>{{elemento.sexo}}</td>
                                        <td>{{elemento.peso}}</td>
                                        <td>{{elemento.estatura}}</td>
                                        <!-- <td id="botonVerHistorial"><span class="icon-eye" alt="Ver detalles" title="Ver Detalles"></span></td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="titulos">{{titulos.seccionNuevosAtletas}}</h2>
                        <form id="datosNuevoAtleta">
                            <br>
                            <p>Username: 
                                <select id="atletasNoAsignados">
                                    <option selected>0000</option>
                                    <option>0001</option>
                                </select>
                            </p>
                            <br>
                            <p>Nombre: <input v-bind:value="evaluacionAtleta.nombreAtleta" type="text" readonly="readonly"></p>
                            <br>
                            <p>Apellido: <input v-bind:value="evaluacionAtleta.apellidoAtleta" type="text" readonly="readonly"></p>
                        </form>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonAgregarAtleta">Agregar Atleta</button>
                        </div>
                    </div>
                    <div class= "segundoSeparador">
                        <h2 class="titulos">{{titulos.visorAtletasHistorialCardiaco}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialPulsoAtletas">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>Ritmo</th><th>Ritmo Promedio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistorialesCoach.listaHistorialCardiacoCoach">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.pulso}}</td>
                                        <td>{{elemento.pulsoPromedio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="titulos">{{titulos.visorAtletasHistorialTemperatura}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialTemperaturaAtletas">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>Temp.</th><th>Promedio</th><th>Mínima</th><th>Máxima</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistorialesCoach.listaHistorialTemperaturaCoach">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.temperatura}}</td>
                                        <td>{{elemento.temperaturaPromedio}}</td>
                                        <td>{{elemento.minima}}</td>
                                        <td>{{elemento.maxima}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <h2 class="titulos">{{titulos.visorAtletasHistorialOxígeno}}</h2>
                        <br>
                        <div id="contenedorTablaHistorialOxigenoAtletas">
                            <table class="tabla" >
                                <thead>
                                    <tr>
                                        <th>Fecha</th><th>Oxígeno</th><th>Promedio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  v-for="elemento in controladoresDeHistorialesCoach.listaHistorialOxigenoCoach">
                                        <td>{{elemento.fecha}}</td>
                                        <td>{{elemento.oxigeno}}</td>
                                        <td>{{elemento.oxigenoPromedio}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="contenedorBotonAccionador">
                            <button id="botonRegresarPerfil">Regresar a mi perfil</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #endregion Visor Atletas(De coach) -->  
        </section>
        <!-- #endregion Visores/Subventanas -->
    </section>
    <!-- #endregion DashBoard -->
    <!-- #region Pie de Página -->
    <footer>
        <article>
            <h4>Arquitectura de Computadores y Ensambladores 2 Sección: N</h4>
            <p>Práctica # 1: Tecnología Vestible para Ejercicio, Ilustraciones de <a id="referenciaImagenes" href="https://storyset.com/data"> Freepik Storyset</a></p>
        </article>
    </footer>
    <!-- #endregion Pie de Página -->
</body> 
</html>